.select_multy_block{
    font-family: Arial, Sans-Serif;
    font-size: 90%;
    padding: 5px;
    display: table-cell;
    width: 350px;
}
.pf{
    float: left;
}
.sp{
    width: 200px;
    cursor: default;
    font-size: 12px;
    display: table;
    border: 1px solid #efefef;
    padding: 2px 5px;
    margin: 1px;
    color: #aaa;
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0px #000;
}
.sp:hover{
    background: #ddd;
    color: #fff;
}
.ds{
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: #aaa;
    padding:0 5px;
    margin: 0 1px 0 10px;
    text-shadow: 1px 1px 0px #000;

}
.sp:hover .ds{
    color: #ff6418;
}

.ds:hover{
    color: red !important;

}
input[type='checkbox'] {
    margin-top: 2px;
}
.pl{
    background-image: url('../img/plus_minus.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-top: 1px;
}
.ple{
    width: 15px;
    height: 15px;
    margin-top: 2px;
}
.mi{
    background-image: url('../img/plus_minus.png');
    background-position: 0 -15px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-top: 2px;
}
.pa{

    display: inline-block;
}
.h_cbx{
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
    background: rgba(240, 255, 245, 0.50);
    border: 1px solid #efefef;
    border-bottom: 0;
}
.fi{
    border: 1px solid #efefef;
    border-right: 0;
    margin-left: 15px;
    margin-top: 5px;
    width: 300px;
}
.fc{
    font-weight: bold;
    font-size: 80%;
    color: #aaa;
    background: #ddd;
    cursor: pointer;
    border: 1px solid #efefef;
    margin: 5px auto;
    padding: 3px 6px 2px 6px;
    position: absolute;
    border-radius: 0 5px 5px 0 ;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.2);
}
.fc:hover{
    color: #000;
    background: #ddd;
}
.fc:active{
    color: #ff6418;
    box-shadow: none;

}
.t_li,.l_cbx{
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgba(240, 255, 245, 0.50);
    border: 1px solid #efefef;
    border-top: 0;
    padding: 2px 5px;
    max-height: 300px;
    min-width:200px;
    max-width:350px;
    overflow: auto;
}
.l_cbx ul {
    margin: 0;
    padding: 0 15px;
}
.cb{
    display: none;
}
.l_cbx ul li{
    padding: 0;
    list-style: none;
    margin: 0;
}
.ch_el{
    width: 250px;
    max-height: 300px;
    overflow: auto;
    display: none;
    margin-top: 10px;
}
.ch_el h5{
    margin: 0;
}

.sf_cbx{
    display:none;
    height: 500px;
    width: 400px;
}
.i_s {
    background: rgba(230, 230, 250, 0.45);
}
.scbx{
    background: rgba(146, 193, 255, 0.26) !important;
}
.m1{
    margin-left: 18px !important;
}
.m2{
    margin-left: 36px !important;
}
.m3{
    margin-left: 54px !important;
}
.m4{
    margin-left: 72px !important;
}




